<section  style="text-align: center">

  <mat-card style="height: 100%">
    <mat-card-title>Create a new Project</mat-card-title>

    <form [formGroup]="projectForm" autocomplete="off" novalidate (ngSubmit)="createProject(projectForm.value)"
          style="text-align: center">

      <mat-card-content class="example-container example-container">
        <mat-form-field>
          <input matInput type="text" placeholder="Project's name" formControlName="name" id="name">
          <mat-hint align="end">Not more then 20 characters long (min length 2).</mat-hint>
          <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          <mat-error *ngIf="hasError('name', 'minlength')">Min length is 2</mat-error>
          <mat-error *ngIf="hasError('name', 'maxlength')">You have more than 20 characters</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="Start date" formControlName="startDate" id="startDate">
          <mat-hint align="end">Min length 6 max 20, only numbers.</mat-hint>
          <mat-error *ngIf="hasError('startDate', 'required')">StartDate is required</mat-error>
          <mat-error *ngIf="hasError('startDate', 'minlength')">Min length is 6</mat-error>
          <mat-error *ngIf="hasError('startDate', 'maxlength')">You have more than 20 characters</mat-error>
          <mat-error *ngIf="hasError('startDate', 'pattern')">Use Only Numbers</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput type="text" placeholder="End Date" formControlName="endDate" id="endDate">
          <mat-hint align="end">Min length 6 max 20, only numbers.</mat-hint>
          <mat-error *ngIf="hasError('endDate', 'required')">End Date is Required</mat-error>
          <mat-error *ngIf="hasError('endDate', 'minlength')">Min length is 6</mat-error>
          <mat-error *ngIf="hasError('endDate', 'maxlength')">You have more than 20 characters</mat-error>
          <mat-error *ngIf="hasError('endDate', 'pattern')">Use Only Numbers</mat-error>
        </mat-form-field>


        <mat-form-field>
          <input matInput type="text" placeholder="Description" formControlName="description" id="description">
          <mat-hint align="end">Min length 1 max 3, only numbers.</mat-hint>
          <mat-error *ngIf="hasError('description', 'required')">Description is required</mat-error>
        </mat-form-field>


      </mat-card-content>

      <mat-card-actions align="center">
        <button mat-raised-button color="primary" [disabled]="!projectForm.valid">Create</button>
      </mat-card-actions>
      <div class="error">{{message}}</div>
    </form>
  </mat-card>


</section>











